<!DOCTYPE html>
<html>

<head>
    <title>Nuntium</title>
</head>

<body>
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        var username = '<%= username %>';
        var room = '<%= room %>'

        var socket = io({
            query: {
                username,
                room
            }
        });

        socket.emit('join', room)

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            if (input.value) {
                socket.emit(`message`, { username: username, message: input.value });
                input.value = '';
            }
        });

        socket.on(`message`, function (data) {
            var item = document.createElement('li');
            item.textContent = data.username + ': ' + data.message;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });
    </script>
</body>

</html>